*{
    margin:0;
padding: 0;
box-sizing: border-box;

}

.body{
font-family: sans-serif;
line-height: 1.6;
background-color: aquamarine;

}

.banner {
background-image: url; 
background-attachment: fixed;
background-color: darkseagreen;



}